/* Header.css */
.header__bar {
    padding: 0.5rem;
    font-size: 0.8rem;
    text-align: center;
    background-color: var(--text-dark);
    color: var(--white);
  }
  
  .header__container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
    margin-top: 10rem;
    background-color: var(--primary-color);
  }
  
  .header__content p {
    font-size: 0.8rem;
    font-weight: 600;
    color: var(--text-light);
    margin-bottom: 0.2rem;
  }
  
  .header__content h1 {
    font-size: 3rem;
    font-weight: 400;
    margin-bottom: 2rem;
    color: var(--text-dark);
  }
  
  .header__content .btn {
    background-color: var(--text-dark);
    color: var(--white);
  }
  
  .header__image {
    position: relative;
  }
  
  .header__image img {
    max-width: 400px;
    position: absolute;
    bottom: -5rem;
  }
  